{{ 'app.js' | asset_url | script_tag }}

<div class="grid ">

  <div class="grid__item two-thirds push--large--one-sixth no-margin ">
  
      
        
        <h1>SUPPORT</h1>
        
        <p class="support-text">
        	We are here to help. Need something special? Want something you don’t find here? <br> 
          Please give us a call or email at us at <a href="mailto:marriott@lapineinc.com"> marriott@Lapineinc.com</a>  and we would be happy to assist you.

        </p>
        
        <h1>FAQs</h1>
        
    <p><strong>I would like to prepay by wire transfer.  What is the account information?</strong></p>
          <p>First County Bank<br>
          1980 West Main Street<br>
          Stamford, CT 06902<br>
            <a href="#" class="bank-info-link">Bank Account Information</a><br>
            
            <div style="display: none;" class="bank-info hidden">
          Transit ABA # 221172212<br>
          Account Number 668938403<br><br>
          <b>Beneficiary:</b> <br>
          Lapine Inc. <br>
          15 Commerce Road <br>
          Stamford, CT 06902</p>
    </div>

          <p><strong>I have placed my order with a payment method “to be invoiced” .  Does this affect my delivery timeline?</strong><br>
            All orders placed through credit will be processed as received as long as your account is in good standing and you have available credit to cover your order.</p>

          <p ><strong>What if I don’t have enough credit?</strong> <br>
          Customer service will reach out to you to resolve. <br>
            If you want to call prior to that, you can reach us at  1-203-703-6894</p>

          <p><strong>I have placed my order and I am sending a check.  How will this affect my delivery?</strong><br>
            Orders are held until payment has cleared.  There is no guarantee that the products will <br> still be in stock once the payment has cleared. </p>

          <p><strong>How will I know what parts of the order have shipped?</strong><br>
            For more specifics, you can reach us at 1-203-703-6894</p>

          <p><strong>I want something that I’m not seeing on your site – Can you help me?</strong><br>
           Yes- we make all kinds of custom products, please give us a call or email us at <a href="mailto:marriott@lapineinc.com">marriott@Lapineinc.com</a></p>

    <p><strong>I am trying to place an order and it’s stating that shipping methods are not available for my cart. What should I do?</strong><br> 
    This is likely due to the size of your order /shipment. Please contact our Starwood Team at <a href="mailto:marriott@lapineinc.com">marriott@Lapineinc.com</a> and we will work with you to process your order. </p>
  
  
  <p><strong>What are Lapine’s Client Concierge Hours? </strong><br>
    Lapine Client Concierge hours are 8:30 AM – 5:00 PM EST. </p>

  <p><strong>What is Lapine’s Return Policy?  </strong><br>
Items can only be exchanged if the item is damaged and/or defective. <br>
Items must be returned within 30 days of delivery to be eligible for an exchange or refund. <br>
You should expect to receive your exchange within three weeks after shipping your damaged and/or defective items back to Lapine. <br>
    Please contact our Returns Dept. to request a Return Authorization at <a href="mailto:Returns@Lapineinc.com"> Returns@Lapineinc.com</a> prior to returning any product. Please include your Purchase Order Number, model number(s), quantity, and reason for return in your request.</p>

  
			<div id="contact-button" >
			<a href="/pages/contact">
              <p class="white-font-color">Contact Us</p>
        	</a>
        </div>

  </div>


 
</div>


