<div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="content-block text-center">
 
  		<div class="form-vertical register-page text-center">
    		<h1>THANK YOU FOR YOUR ORDER!</h1>
            <p>Thank you, we appreciate your business.
			</p>
          <p class="confirm-num"><a href="/account/">Click here to view your order history</a>.
			</p>
          
          
  				<a  href="{{shop.url}}"><p class="btn shop-button">Continue Shopping<p></a>
    		
    
      	</div>

      </div>
    </div>
</div>
