<div class="grid">
  <div class="grid__item two-thirds push--large--one-sixth no-margin ">
 	
     <h1>CUSTOMIZATION</h1>
   <div class="grid__item background-white">
    <div class="grid__item two-thirds padding-left-zero custom-size-large ">
    <p> Customization – We make it Fun & Easy to customize your ideas:
</p>
    
    <p class="indent-para">
      
      1.	You can either choose from our top performers included in Additional Amenities area or </p>
		<p class="indent-para"> 2.	If there is something that you don’t see please pick up the phone or email us and we can assist you with your custom order. Couple of questions to keep in mind though.

    </p>
    
    	<p class="indent-sent"> a.	What are you looking for?<br>
            b.	How many pieces do you need?<br>
            c.	When do you need your merchandise by?<br>
            d.	What is your budget?
   	    </p>
    		
    <p class="indent-para">
      If you feel like browsing our ideation center for more ideas- please check out <a target="_blank" href="http://promoplace.com/starwood">Marriott Customization Product Ideas</a>
</p>

    <p>
Please note that lead-times vary depending upon the product.
</p>
    </div>
    
    <div class="grid__item one-third custom-size-small">
      <img src="{{ 'pillow.png' | asset_url}}">
<!--       <img src="{{ 'pillow.png' | asset_url}}"> -->
    </div>
     
   <div class="grid__item large-one-third shop-button-box ">
  		<a  href="{{shop.url}}/collections/sheraton#filter-promotional-merchandise"><p class="btn shop-button ">Return to shopping<p></a>
   </div>
  
    </div>
  </div>
  
  
  
 
</div>
 <div id="fit-page" class="full-width full-width--return-link">
    <a href="/pages/support" class="h1 return-link">
      {% include 'icon', name: 'arrow-thin-left' %}
		NEED HELP? CLICK HERE FOR SUPPORT
    </a>
  </div>