<div class="grid">
  <div class="grid__item two-thirds push--large--one-sixth no-margin  ">
 	
     <p class="title-header">Customize This Item</p>
   
 	<div  class="grid__item large--two-thirds push--large--one-sixth collections white-bg">
      <a href="/pages/assets-gallery"><img src="{{ 'pillow.png' | asset_url }}"> </a> <!-- link to 3.1 Asset Gallery page -->
     	
      	<p> This item can be easily customized for you. 

		</p>
 	</div>
    
   
     <div   class="grid__item large-one-third padding-left-zero white-bg">
  		<a  href="/collections"><p class="btn shop-button upload-btn">Upload Logo <p></a>
       <p class="upload-text" >Upload Logo ( files need to be Ai. Jpeg, ) and we can take it from there</p>
    </div>
    
    </div>
  </div>
  
 <div id="fit-page" class="full-width full-width--return-link">
    <a href="/pages/support" class="h1 return-link">
      {% include 'icon', name: 'arrow-thin-left' %}
		NEED HELP? CLICK HERE FOR SUPPORT
    </a>
  </div> 


 	
