<div class="grid">
  <div class="grid__item two-thirds push--large--one-sixth no-margin  ">
 	
     <p class="title-header">Customize This Item</p>
   
 	<div  class="grid__item large--two-thirds push--large--one-sixth collections white-bg">
      <a href="/pages/assets-gallery"><img src="{{ 'pillow.png' | asset_url }}"> </a> <!-- link to 3.1 Asset Gallery page -->
     	
      	<p> Now that you have some idea of what your custom order will look like please confirm and add to cart.- Thank you

		</p>
 	</div>
    
   
     <div   class="grid__item large-one-third padding-left-zero white-bg">
  		<a  href="/collections"><p style="margin-bottom: 25px;"class="btn shop-button confirm-btn upload-btn">Confirm and Add to Cart<p></a>
    </div>
    
    </div>
  </div>
  
 
 <div id="fit-page" class="full-width full-width--return-link">
    <a href="/pages/support" class="h1 return-link">
      {% include 'icon', name: 'arrow-thin-left' %}
		NEED HELP? CLICK HERE FOR SUPPORT
    </a>
  </div>

 	

